@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-Black.ttf"); /* Make sure to adjust the path */
}


.button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-cursor: hand; /* Pointer cursor */
}

/* Optional Hover Effect */
.button:hover {
    -fx-opacity: 0.8; /* Slight fade effect on hover */
    -fx-translate-y: -2px; /* Subtle upward shift */
}

.button .text {
    -fx-translate-y: -2px; /* Moves the text 5px down (adjust this value as needed) */
    -fx-fill: white; /* Text color */
    -fx-font-size: 25px; /* Font size */
    -fx-alignment: center;
    -fx-font-family: "Poppins";
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 7, 0.0, 2, 2);
}
